.env
.env.*
!.env.example

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

bin/
dist/
tmp/
vendor/

coverage.out
coverage.html

.DS_Store
.idea/
.vscode/
*.swp


/node_modules/

# React Router
/.react-router/
/build/
